<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note API</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        span{
            color:#333;
            background-color:antiquewhite;
        }
        div{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Note API!</h1>
    <div>
        <p>This is a simple web application for managing notes.</p>
        <p>Explore the API to create, update, and manage your notes.</p>
        <p>API Endpoints:</p>
        <p>Create/Add Note: <span>http://127.0.0.1:8000/api/notes/</span></p>
        <p>To View Note by Id: <span>http://127.0.0.1:8000/api/notes/id_number</span> change id_number to exact number</p>
        <p>To Update the Note by Id: <span>http://127.0.0.1:8000/api/notes/id_number/update</span> change id_number to exact number</p>
        <p>To Delete the Note by Id: <span>http://127.0.0.1:8000/api/notes/id_number/delete</span> change id_number to exact number</p>
        <p>Also Explore the swagger UI to reach out: <span>http://127.0.0.1:8000/swagger/</span></p>
    </div>
</body>
</html>
